/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f5e4fc;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d694f5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ab6dc8;
}

body {
    margin: 0px;
    background-color: #f9eeff;
}